In [1]:
import pandas as pd
import numpy as np
import networkx as nx
import re

## Create artist social graph

In [2]:
df_nodes = pd.read_csv('/home/ignacio/Datasets/Graph analysis/artists_nodes.csv')
df_nodes.head()

           Artists      type
0      N. D. Cocea    author
1          Spencer    author
2     William Hall    author
3          Leopold    author
4  David Steinberg  director

In [3]:
df_nodes = df_nodes.set_index('Artists')
df_nodes.head()

                     type
Artists
N. D. Cocea        author
Spencer            author
William Hall       author
Leopold            author
David Steinberg  director

In [4]:
type_dict = df_nodes.to_dict()

In [5]:
df_edges = pd.read_csv('/home/ignacio/Datasets/Graph analysis/artists_edges.csv')
df_edges.head()

        Node 1                Node 2  color
0  N. D. Cocea                   Ion  green
1      Spencer                    Bt  green
2      Spencer         Auguste Comte  green
3      Spencer  Sir William Hamilton  green
4      Spencer           9th Baronet  green

In [6]:
df_edges = df_edges.set_index(['Node 1', 'Node 2'])
df_edges.head()

                                  color
Node 1      Node 2
N. D. Cocea Ion                   green
Spencer     Bt                    green
            Auguste Comte         green
            Sir William Hamilton  green
            9th Baronet           green

In [7]:
color_dict = df_edges.to_dict()

In [8]:
g_artist = nx.Graph()
g_artist.add_nodes_from(list(type_dict['type'].keys()))

In [9]:
g_artist.add_edges_from(list(color_dict['color'].keys()))

In [10]:
nx.set_node_attributes(g_artist, name='type', values=type_dict['type'])

In [11]:
nx.set_edge_attributes(g_artist, name='color', values=color_dict['color'])

In [12]:
nx.is_connected(g_artist)

True

## Distant lenght between artists

In [29]:
nx.shortest_path_length(G=g_artist, source='Chris Walas', target='Paul Theroux')

NodeNotFound: Source Chris Walas not in G

In [25]:
df_nodes = df_nodes.reset_index()
df_nodes.head()

           Artists      type
0      N. D. Cocea    author
1          Spencer    author
2     William Hall    author
3          Leopold    author
4  David Steinberg  director

In [31]:
df_nodes[df_nodes['Artists'].str.contains('Wallas')]

Empty DataFrame
Columns: [Artists, type]
Index: []

## Get book from authors in graph

In [ ]:
df_book = pd.read_csv('/home/ignacio/Datasets/Graph analysis/BX-book-shelves.csv')
df_book.head()

In [ ]:
len(df_book)

In [ ]:
df_authors = df_nodes[df_nodes['type'] == 'author']
df_authors = df_authors.reset_index()
df_authors.head()

In [ ]:
df_valid_book = df_book[df_book['Book-Author'].isin(df_authors['Artists'])]
df_valid_book.head()

In [ ]:
len(df_valid_book)

In [ ]:
df_valid_book.to_csv('/home/ignacio/Datasets/Graph analysis/bx-valid-book.csv', index=False)

## Get movies from directors in graph

In [ ]:
df_movies = pd.read_csv('/home/ignacio/Datasets/Graph analysis/ml-movies.csv')
df_movies.head()

In [ ]:
df_movies['director'].isnull().unique()

In [ ]:
df_movies = df_movies.dropna(axis=0, subset=['director'])

In [ ]:
len(df_movies)

In [ ]:
df_directors = df_nodes[df_nodes['type'] == 'director']
df_directors = df_directors.reset_index()
df_directors.head()

In [ ]:
def exist_director(row, df):
    directors = row.split(r', ')
    for d in directors:
        if d in df.unique():
            return True
    return False

In [ ]:
df_movies['valid'] = df_movies['director'].apply(exist_director, df=df_directors['Artists'])
df_movies.head()

In [ ]:
df_valid_movies = df_movies[df_movies['valid']==True]
df_valid_movies.head()

In [ ]:
len(df_valid_movies)

In [ ]:
df_valid_movies.to_csv('/home/ignacio/Datasets/Graph analysis/ml-valid-movies.csv', index=False)

## Clean movielens ratings

In [ ]:
df_ml_rating = pd.read_csv('/home/ignacio/Datasets/ml-latest-small/ratings.csv')
df_ml_rating.head()

In [ ]:
len(df_ml_rating)

In [ ]:
df_ml_rating_valid = df_ml_rating[df_ml_rating['movieId'].isin(df_valid_movies['movieId'])]
df_ml_rating_valid.head()

In [ ]:
len(df_ml_rating_valid)

In [ ]:
df_ml_rating_valid.to_csv('/home/ignacio/Datasets/Graph analysis/ml-ratings.csv', index=False)

## Clean book ratings

In [ ]:
df_bx_ratings = pd.read_csv('/home/ignacio/Datasets/BX-CSV-Dump/BX-Book-Ratings.csv',sep=';', encoding='iso-8859-15')
df_bx_ratings.head()

In [ ]:
len(df_bx_ratings)

In [ ]:
df_bx_valid_ratings = df_bx_ratings[df_bx_ratings['ISBN'].isin(df_valid_book['ISBN'])]
df_bx_valid_ratings.head()

In [ ]:
len(df_bx_valid_ratings)

In [ ]:
df_bx_valid_ratings.to_csv('/home/ignacio/Datasets/Graph analysis/bx-ratings.csv', index=False)

In [ ]:
g_artist.has_node('Jane Austen')

In [ ]:
nx.shortest_path(g_artist, source='Woody Allen', target='Franz Bopp')