## MAE/MSE metrics

### Book to origen space

In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [7]:
df_prediction = pd.read_csv('/home/ignacio/Datasets/Amazon/Data cleaned/Recommendation/recommendation_book_to_origen_space.csv', index_col=0)
df_prediction = df_prediction.reset_index(drop=True)
df_prediction.head()

,ISBN,Book-Title,Book-Author,common-shelves,similarity,rating
0,8433914871,Pulp,Charles Bukowski,mystery-thriller|crime-noir|sci-fi|crime-ficti...,0.494541,3.898848
1,0679756450,Portnoy's Complaint,Philip Roth,comedy,0.494541,3.918848
2,0140180923,Lord Jim (Penguin Classics),Joseph Conrad,adventure,0.494541,3.828848
3,0140180923,Lord Jim,Joseph Conrad,adventure|romance|mystery-and-suspense|mystery,0.494541,3.828848
4,0553279300,Being There,Jerzy Kosinski,fantasy|comedy|drama,0.494541,4.078848

In [5]:
df_book_ratings = pd.read_csv('/home/ignacio/Datasets/Amazon/Data cleaned/ratings_book_intersect_greater_1.csv')
df_book_ratings.head()

          userId        asin  rating  reviewTime        ISBN
0  AGEIT17HENDIS  0002051850     4.0  1148860800  0684803356
1  AHCVWPLA1O4X8  0002051850     5.0  1059696000  0684803356
2  A4BNZ1OSBO77S  0002051850     5.0  1059350400  0684803356
3  A4X7FBQ5SKPI6  0002051850     5.0  1186185600  0684803356
4  AI37YX1U4KB1L  0002051850     5.0  1046822400  0684803356

In [15]:
df_ratings = df_book_ratings[df_book_ratings['userId'] == 'AGEIT17HENDIS']
len(df_ratings)

56

In [16]:
df_ratings_join = pd.merge(df_ratings, df_prediction[['ISBN', 'rating']], how='left', left_on='ISBN', right_on='ISBN')
df_ratings_join = df_ratings_join.dropna()
len(df_ratings_join)

55

In [17]:
mean_absolute_error(y_true=df_ratings_join['rating_x'], y_pred=df_ratings_join['rating_y'])

0.4459629827060741

In [18]:
mean_squared_error(y_true=df_ratings_join['rating_x'], y_pred=df_ratings_join['rating_y'])

0.29246911412945165

### User to target space

In [19]:
df_prediction_u = pd.read_csv('/home/ignacio/Datasets/Amazon/Data cleaned/Recommendation/recommendation_user_to_target_space.csv', index_col=0)
df_prediction_u = df_prediction_u.reset_index(drop=True)
df_prediction_u.head()

,ISBN,Book-Title,Book-Author,common-shelves,similarity,rating
0,1562827049,Ripper,Jack,true-crime-jack-the-ripper|historical-true-cri...,0.076934,3.401241
1,044651716X,30 Seconds,Sam,adventure|mystery-suspense,0.069824,2.504130
2,0804111618,Chicago Loop,Paul Theroux,action-thrillers|thriller|horror|mystery|actio...,0.064038,2.708345
3,0393318680,Filth,Irvine Welsh,black-comedy|crime-fiction|comedy|thriller|cri...,0.063691,3.557998
4,0425184129,Big Trouble,Dave Barry,action-adventure|adventure|romance|comedy|thri...,0.062960,3.597267

In [21]:
df_book_ratings = pd.read_csv('/home/ignacio/Datasets/Amazon/Data cleaned/ratings_book_intersect_greater_1.csv')
df_book_ratings.head()

          userId        asin  rating  reviewTime        ISBN
0  AGEIT17HENDIS  0002051850     4.0  1148860800  0684803356
1  AHCVWPLA1O4X8  0002051850     5.0  1059696000  0684803356
2  A4BNZ1OSBO77S  0002051850     5.0  1059350400  0684803356
3  A4X7FBQ5SKPI6  0002051850     5.0  1186185600  0684803356
4  AI37YX1U4KB1L  0002051850     5.0  1046822400  0684803356

In [22]:
df_ratings_join_u = pd.merge(df_ratings, df_prediction_u[['ISBN', 'rating']], how='left', left_on='ISBN', right_on='ISBN')
df_ratings_join_u = df_ratings_join_u.dropna()
len(df_ratings_join_u)

65

In [23]:
mean_absolute_error(y_true=df_ratings_join_u['rating_x'], y_pred=df_ratings_join_u['rating_y'])

0.64838584546704314

In [24]:
mean_squared_error(y_true=df_ratings_join_u['rating_x'], y_pred=df_ratings_join_u['rating_y'])

0.54179756760222608